body{
    background-color: rgb(130,130,130);
}

.loading{
    transform: translateY(45vh);
    border-radius: 30px;
    height: 60px;
    width: auto;
    background-color: black;
}

.loading-bar{
    position: relative;
    background-color: red;
    height: inherit;
    border-radius: inherit;
    width: 0;
    animation: loading-progress linear 10s infinite;
}

@keyframes loading-progress{
    0%{width: 0; opacity: 0;}
    10%{width:50%; opacity: 1;}
    20%{width: 100%;}
    30%{width: 50%; opacity: 1;}
    40%{width: 0; opacity: 0;}
    50%{width: 50%; opacity: 1;}
    60%{width: 100%;}
    70%{width: 50%;}
    80%{width: 0; opacity: 0;}
    90%{width: 50%; opacity: 1;}
    100%{width: 400vw;}
}